language: php

php:
  - '7.4'
  - '8.0'

env:
  - SYMFONY_VERSION="4.4"
  - SYMFONY_VERSION="5.0"

before_script:
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini
  - composer require symfony/framework-bundle:${SYMFONY_VERSION}
script: bin/phpunit --coverage-clover=coverage.clover Tests
after_script:
     - wget https://scrutinizer-ci.com/ocular.phar
     - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
